html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
}

a,abbr,acronym,address,applet,article,
aside,audio,b,big,blockquote,body,
canvas,caption,center,
cite,code,dd,del,
details,dfn,
div,dl,dt,
em,embed,fieldset,
figcaption,figure,
footer,form,
h1,h2,h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
mark,
menu,
nav,
object,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

img {
  border-style: none;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
select,
textarea {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::selection {
  background-color: #0094ff;
  color: #fff;
}

::-moz-selection {
  background-color: #0094ff;
  color: #fff;
}

*:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #bebebe;
}

input:focus::-webkit-input-placeholder {
  color: #bebebe;
}

body {
  overflow-x: hidden;
  color: #0f1011;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
