//layout variadles
$wdi: 1206px;
/*width-desktop-infinite1452*/
//$wdl: 978px;  /*width-desktop-less*/
$wt: 640px;
/*width-tablet*/
$wmb: 480px; /*width-mobile*/
$wms: 320px;
/*media*/
$desktop-infinite: "(min-width:1367px) and (max-width:1920px)"; //$desktop-less: "(max-width: 1366px)";
$tablet: "(min-width:769px) and (max-width: 1366px)"; // $tablet: "(max-width: 978px)";
$mobile-big: "(max-width: 768px)";
$mobile-small: "(max-width: 540px)"; // @media (min-width: 1218px) and (max-width: 10000px)
/*usage: */
.layout {
  width: $wdi;
  position: relative;
  margin: 0 auto;
  @media #{$desktop-infinite} {
    width: $wdi;
  }
  // @media #{$desktop-less} {
  //     width: $wdl;
  // }
  @media #{$tablet} {
    width: $wt;
  }
  @media #{$mobile-big} {
    width: $wmb;
  }
  @media #{$mobile-small} {
      width: $wms;
  }
}
